body {
    direction: rtl !important;
    unicode-bidi: embed !important;
    text-align: right !important;
}

@media (min-width: 991px) {
    .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        float: right !important;
    }

    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: right !important;
    }
}

#content {
    float: right;
}

#sidebar {
    float: right;
}

.navbar-header {
    float: right;
}

.navbar-left {
    float: right !important;
}

.nav-right {
    left: 0;
    right: auto !important;
    width: auto !important;
}

.navbar-brand {
    margin-right: 0 !important;
    margin-left: 5px !important;
}

.navbar-nav > li {
    float: right;
}

.navbar-nav > li {
    margin-right: 0;
    margin-left: 5px;
}

.nav-mobile {
    left: auto !important;
    right: 0 !important;
}

.nav-mobile .btn-close-mobile-nav {
    top: 2px;
    right: auto;
    left: 2px;
}

.icon-mobile-lang {
    float: right !important;
    margin-left: 8px;
    margin-right: 0 !important;
}

.search-icon {
    float: left;
}

.navbar-inverse .dropdown .dropdown-menu > li > a {
    text-align: right;
}

.home-slider-item .item-info .item-meta a {
    margin-right: 0;
    margin-left: 8px;
}

.home-slider-item .item-info .item-meta span {
    margin-right: 0;
    margin-left: 8px;
    text-align: right;
}

.home-slider-item .item-info .item-meta span i {
    margin-right: 0;
    margin-left: 8px;
}

.post-meta .post-meta-inner span, .post-meta .post-meta-inner a {
    margin-right: 0;
    margin-left: 10px;
}

.read-more i {
    display: none;
}

.read-more:hover .read-more-i {
    margin-right: 25px;
    margin-left: 5px;
}

.pagination {
    float: left;
}

.w-popular-list li img {
    float: right;
    margin-right: 0;
}

.w-our-picks-list li .label-post-category {
    margin: 8px 8px 0 0;
}

.w-category-list li a {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.w-tag-list li {
    float: right;
    list-style: outside none none;
    margin-bottom: 8px;
    margin-right: 0;
    margin-left: 8px;
}

.label-poll-option {
    margin-left: 0;
    margin-right: 5px;
}

.poll .button-cnt button {
    margin-right: 0;
    margin-left: 15px;
}

.f-random-list li img {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}

.newsletter .newsletter-button {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

.newsletter input {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

.footer-bottom-left {
    float: right;
}

.footer-bottom-right {
    float: left;
}

.nav-footer li {
    margin-right: 0;
    margin-left: 15px;
}

.nav-footer li:last-child {
    margin-left: 0;
}

.post-content .post-meta form {
    float: left;
}

.post-avatar {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.post-content .post-meta a {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.post-content .post-meta span {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.add-to-reading-list {
    float: left !important;
}

.post-content .post-share .btn-share {
    float: right;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 10px;
}

.post-content .post-share .btn-share i {
    margin-right: 0;
    margin-left: 10px;
}

.post-content .tags-title {
    float: right;
    margin: 0 0 0 15px;
}

.post-content .post-tags .tag-list {
    float: right;
    margin: 0;
    padding: 0;
}

.contact-item .contact-icon {
    margin-right: 0;
    margin-left: 10px;
}

.comment-lists .comment-left {
    text-align: right;
}

.comment-lists li .comment-meta .comment-date {
    margin-left: 10px;
    margin-right: 0;
}

.comment-lists .comment-left img {
    float: right;
}

.comment-lists .subcomment-left {
    text-align: right;
}

.comment-lists .subcomment-left img {
    float: right;
}

.comment-lists li .btn-comment-reply {
    margin-left: 10px;
    margin-right: 0;
}

.form-control-feedback {
    right: auto;
    left: 0;
}

.modal-search .form-control:focus, .modal-search .form-control {
    right: auto;
    left: 0;
}

.modal-search .s-close {
    right: unset;
    left: 20px;
}

.social-mobile .navbar-nav > li {
    float: right;
    margin-right: 0 !important;
    margin-left: 13px !important;
}

.post-item-horizontal .item-content {
    padding-left: 0;
    padding-right: 30px;
}

.center-box {
    float: none !important;
    margin: 0 auto !important;
}

.col-login {
    float: left !important;
    text-align: left !important;
}

.about-author-right .author-link {
    float: right;
}

.about-author-right .author-social li {
    float: right;
    margin-right: 0;
    margin-left: 30px;
}

.comment-tabs > li {
    float: right;
}

.widget-title .title::after {
    right: auto;
    right: 0;
}

.w-popular-list li .right {
    padding: 0;
    padding-right: 15px;
}

.w-our-picks-list li .title {
    float: right;
}

.related-posts .related-post-title .title::after {
    left: auto;
    right: 0 !important;
}

.comment-section .nav-tabs {
    padding-right: 0;
}

.comment-section .nav-tabs > li {
    float: right;
}

.profile-details .left {
    padding-right: 0;
}

.profile-details .right {
    padding-right: 30px;
}

.profile-details .user-contact .info {
    margin-right: 0;
    padding-right: 0;
    margin-left: 15px;
    padding-left: 15px;
}

.profile-buttons ul {
    float: right;
}

.profile-details .username {
    float: right;
}

.p-last-seen .last-seen {
    float: right;
}

.footer-widget {
    float: right;
}

.newsletter .newsletter-button {
    border-radius: 3px 0 0 3px;
}

.languages-dropdown .btn i {
    margin-right: 0;
    margin-left: 8px;
}

.languages-dropdown .dropdown-menu {
    left: auto;
    right: 0;
}

.languages-dropdown .dropdown-menu > li > a {
    text-align: right;
}

.f-random-list li .right {
    padding-left: 0;
    padding-right: 15px;
}

.nav-mobile .navbar-nav .nav-item .nav-link {
    text-align: right;
}

.nav-mobile .navbar-nav .nav-item .nav-link i {
    float: left;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    padding-right: 15px !important;
}

.nav-mobile .profile-dropdown img {
    margin-right: 0;
    margin-left: 5px;
}

.btn-social {
    text-align: right !important;
}

.btn-social i {
    margin-right: 0;
    margin-left: 20px;
    border: 0 !important;
}

.reactions .col-reaction {
    float: right;
}

.reactions .col-reaction:first-child {
    margin-right: 0;
}

.reactions .col-reaction:last-child {
    margin-right: 5.8px;
}

.post-item-horizontal .item-image {
    float: right !important;
}

.post-item-horizontal .item-content {
    float: right !important;
}

.comment-section .comments .comment-list li .left {
    text-align: right;
}

.comment-section .comments .comment-list li .right .username {
    float: right;
    margin-right: 0;
}

.comment-section .comments .comment-list li .right .date {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}

.comment-section .comments .comment-list li .right .btn-reply {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}

.visual-color-box {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}

/*
Mobile
 */
@media (max-width: 1200px) and (min-width: 768px) {
    .navbar-left {
        padding-right: 15px !important;
    }
}

@media (max-width: 991px) {
    .navbar-header {
        width: 100% !important;
        margin: 0 !important;
    }

    .navbar-toggle {
        margin-right: 0 !important;
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0 !important;
    }

    .navbar-inverse .navbar-nav .dropdown-menu {
        float: right !important;
        width: 100% !important;
        padding-right: 30px;
    }

    .w-our-picks-list li .title {
        float: right;
    }

    .post-content .post-share .btn-share i {
        margin: 0 !important;
    }

    .post-content .post-share .btn-share {
        margin-left: 8px;
    }

    .contact-right {
        float: left !important;
    }

    .contact-left {
        float: right !important;
        margin-bottom: 30px;
    }

    .contact-item .contact-icon {
        float: right;
    }
}

@media (max-width: 767px) {

}
